h1

  {
 background-color: pink;
 color: green;
 width: 300;
 text-align: center;
 border: 2px solid red;
 border-radius: 20px;

 }

h3
{
  background-color: cyan;
  color: cyan;
  font-size: 25px;
  letter-spacing: 2px;
  line-height: 2 em;
  text-transform: uppercase;
} 

#x
 {

 font-size: 30px;
 text-transform: lowercase;
 font-style: oblique;
 color: red;

}

.y
{
 background-color: cyan;
 font-size: 30px;
 text-transform: uppercase;
 list-style-type: disc;
} 
